
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

    <p> Name   : Jamin Rahman Jim </p>
    <p> ID     : 20-42732-1</p>
    <p> Age	   : 22 </p>
    <p> DOB    : 16/04/2000 </p>
    <p> sex    : Male </p>
    <p> Address: Narshingdi, Dhaka </p>
    <p> Email  : jaminjim.aiub@gmail.com</p>
    
